<div class="docs">
  <h1>Documentation</h1>


  <div id="api">
  <h2>flatsheet API</h2>
  <p>There are currently two API endpoints.</p>
  <br>

  <p><b>To get a list of sheets:</b> <code>/sheets</code></p>
  <p>The response is an array of sheets with <code>id</code>, <code>name</code>, <code>description</code>, and <code>url</code> properties.
  <br><br>
  <p><b>To get individual sheets:</b> <code>/sheets/:id</code></p>
  <hr>
  <h3><code>/sheets?username=example</code> Response example</h3>
  <pre>[
  {
    id: 1,
    slug: "tcuxl49owsafl-jgp5qrta",
    name: "Pizza",
    description: "A sheet about pizza.",
    url: "http://flatsheet.herokuapp.com/sheets/tcuxl49owsafl-jgp5qrta"
  }
]
</pre>
  <br>
  <h3><code>/sheets/:id</code> Response example</h3>
  <pre>{
  id: 1,
    slug: "tcuxl49owsafl-jgp5qrta",
    name: "Pizza",
    description: "A sheet about pizza.",
  rows: [
    {
      toppings: "pepperoni, olive, sausage",
      cheese: "cheddar",
      crust: "deep dish"
    },
    {
      toppings: "salmon, artichoke, basil",
      cheese: "mozzarella",
      crust: "thin"
    }
  ],
  created_at: "2014-04-24T03:22:03.255Z",
  updated_at: "2014-04-24T03:25:14.359Z"
}
</pre>
  </div>

  <div id="curl">
    <h2>Making requests with curl</h2>
  </div>

  <div id="javascript">
    <h2>Making requests with JavaScript</h2>

  </div>

  <div id="ruby">
    <h2>Making requests with Ruby</h2>

  </div>
</div>

<div class="docs-sidebar">
  <ul>
    <li><a href="#api">API</a></li>
    <li><a href="#curl">Curl</a></li>
    <li><a href="#javascript">JavaScript</a></li>
    <li><a href="#ruby">Ruby</a></li>
  </ul>
</div>