<header>
  <div class="container">
    <ul class="main-nav">
      <li><a href="#">dashboard</a></li>
      <% if current_user %>
        <li><a href="#new">new sheet</a></li>
      <% end %>
    </ul>
  </div>
</header>

<main role="main">
  <div class="container">
    <%= form_tag import_file_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import" %>
    <% end %>
    <br>
    <div id="main"></div>
  </div>
</main>

<script id="sheet-list-item-template" type="text/template">
  <div class="list-item">
    <h2 class="name"><a href="#sheet-{{= sheet.id }}">{{= sheet.name }}</a></h2>
    <div class="description">
      {{= sheet.description }} 
      <a href="/sheets/{{= sheet.id }}" class="endpoint button" target="_blank">API endpoint.</a>
    </div>
  </div>
</script>

<script id="sheet-detail-template" type="text/template">
  <div class="sheet-detail">
    <div class="sheet-meta">
      <input class="sheet-name" type="text" value="{{= sheet.name }}"><br>
      <textarea class="sheet-description">{{= sheet.description }}</textarea><br>
    </div>
  </div>
  <div class="sheet-rows"></div>
</script>

<script id="cell-editor-template" type="text/template">
  <h2>{{= field }}</h2>
  <textarea rows=10>{{= text }}</textarea>
  <button class="button update">Update</button>
</script>