<div class="landing">
  <p class="question">Have data sets edited by non-technical teammates that you need to integrate with apps?</p>
  <h1>Manage your <b>tabular data</b> through a <b>friendly editor</b> <i>&</i> a <b>simple JSON API</b>.</h1>

  <p style="text-align:center;"><a href="/users/sign_up" class="get-started button">Get started with flatsheet</a></p>
</div>