<div class="landing">
  <p class="question">Have sites <i class="serif">&</i> apps that integrate wth data sets edited by non-technical teammates?</p>
  <h1>Manage your <b>tabular data</b> through a <b>friendly editor</b> <i class="serif">&</i> a <b>simple JSON API</b>.</h1>

  <p style="text-align:center;"><a href="/users/sign_up" class="get-started button">Get started with flatsheet</a></p>
</div>