// Place all the styles related to the sheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body,
input,
button,
select,
textarea {
  font: 16px/1.2 'Source Sans Pro', 'Helvetica Neue', Helvetica, arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-weight: 300;
  line-height: 1.5;
}

a {
  color: #2A8782;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active,
a:focus {
  color: #154240;
}

b { font-weight: 400; }

pre,
code {
  font-family: Monaco, Menlo, monospace;
  padding: 5px 10px;
  background-color: #f8f8f8;
  border: 1px solid #e2e2e2;
  overflow: scroll;
}

hr {
  border-top: 1px solid #e2e2e2;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin: 10px 0 30px 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.serif {
  font-family: Baskerville, sans-serif;
}

.user-form {
  width: 300px;
  margin: 0px auto;

  input[type=submit] {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}

input[type=text],
input[type=email],
input[type=password] {
  border: 1px solid #efefef;
  padding: 10px 15px;
  margin-bottom: 10px;
  width: 300px;
}

.icon,
button,
.button,
input[type="submit"] {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #015770;
  color: #fefefa;
  border-radius: 2px;
  border: 1px solid #015770;
  font-weight: 400;
  cursor: pointer;
  font-size: 14px;
  padding: 0px 10px;
  height: 45px;
  line-height: 45px;
}

.icon:hover,
button:hover,
button:focus,
.button:hover,
.button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #013545;
  border-color: #013545;
  color: #fff;
}

a.button {
  padding: 11px 10px 10px 10px;
}

a.button:hover {
  text-decoration: none;
}

.endpoint.button {
  font-size: 12px;
  padding: 2px 5px;
  height: 20px;
  line-height: 20px;
  vertical-align: top;
  background-color: #efefec;
  color: #424240;
  border: 1px solid #efefec;
}

.endpoint.button:hover {
  background-color: #eaeae8;
  color: #000;
  border: 1px solid #eaeae8;
}

header {
  padding: 10px;
  background-color: #f6f6f5;
  height: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e2e2e0;

  h1.site-title {
    font-size: 20px;
    margin-top: 0px;
    line-height: 1;
    float: left;
    font-weight: 400;
    letter-spacing: -1px;

    a {
      color: #535351;
      text-decoration: none;
    }

    a:hover {
      color: #000;
    }
  }
}

header ul.main-nav {
  margin: 0px;
  padding: 0px;
  text-align: right;

  li {
    display: inline-block;
    margin-left: 15px;
  }
}

.sheet-actions {
  float: right;
}

.sheet-detail {
}

.sheet-meta {
}

.sheet-endpoint {
  float: right;
  clear: right;
}

.sheet-row-controls {
  float: left;
  width: 21px;
  height: 500px;
  margin-top: 141px;

  ul {
    margin: 0px;
    padding: 0px;

    li {
      list-style-type: none;
      margin-bottom: 5px;
    }
  }
}

.sheet-rows {
  padding-top: 30px;
  overflow-x: auto;

  .controls {
    margin-bottom: 20px;
    margin-left: -21px;
    background-color: #f6f6f5;
    position: absolute;
    width: 90%;

    a {
      margin: 0px;
      padding: 1px 15px;
      border-radius: 0px;
      border: 0px;
      display: inline-block;
      height: 45px;
      line-height: 45px;
    }
  }

  table { padding-top: 60px; }

  th > div.small {
    width: 186px;
    margin: 3px 0px 2px 0px;
  }

  th .icon {
    font-size: 10px;
    padding: 2px 5px;
    height: 20px;
    line-height: 20px;
    vertical-align: top;
    background-color: #efefec;
    border: 0px;
    margin: 3px 3px;
    color: #646462;
  }

  th .icon:hover {
    text-decoration: none;
    color: #000;
    background-color: #dfdfdc;
  }

  td > input {
    padding: 3px 5px;
    border: 1px solid #efefef;
    width: 160px;
    display: inline-block;
    margin: 0px;
    font-size: 13px;
  }

  td > span.expand {
    background-color: #efefec;
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin: 0px;
    vertical-align: top;

    i { 
      padding: 7px;
      color: #646462;
      font-size: 12px;
    }
  }

  td > span.expand:hover {
    background-color: #dfdfdc;
    i { color: #000; }
  }
}

.import-form {
  margin-bottom: 30px;
}

.cell-editor {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 20px;

  .editor-inner-wrapper {
    width: 60%;
    margin: 10px auto 0px auto;
  }

  textarea {
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 15px;
    outline: none;
    border: 3px solid #f2f2f0;
    line-height: 1.6;
  }
}

.api-endpoint {
  display: block;
  float: right;
  height: 45px;
  line-height: 45px;
  padding: 0px 15px;
}

input.sheet-name {
  font-size: 30px;
  border: 0px;
  width: 100%;
  border: 0px;
  padding-left: 0px;
}

.sheet-description {
  font-size: 15px;
  border: 0px;
  width: 100%;
}

.list-item {
  border-bottom: 1px solid #f2f2f0;
  padding-bottom: 8px;
  margin-bottom: 12px;
}

.delete-row {
  cursor: pointer;
  background-color: #efefec;
  color: #646462;
  font-size: 12px;
  padding: 6px;
}

.delete-row:hover {
  cursor: pointer;
  background-color: #dfdfdc;
  color: #000;
}

.landing {
  p.question {
    font-size: 50px;
    text-align: center;
    margin-top: 60px;
    font-weight: 200;
    letter-spacing: -2px;
    display: block;
    padding: 0px 130px;
    color: #2A8782;
  }

  h1 {
    font-size: 70px;
    letter-spacing: -2px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 200;
    color: #332F45;

    b { font-weight: 400; }
  }
}

a.button.get-started {
  height: 80px;
  line-height: 80px;
  padding: 20px 30px;
  font-size: 25px;
}

.public-view-notice {
  background-color: #fcfcf4;
  padding: 15px 20px;
}

.docs {
  width: 70%;
  float: left;
}

.docs-sidebar {
  width: 29%;
  float: right;
  position: fixed;
  right: 0;

  ul {
    margin: 0px;
    padding: 0px;

    li {
      list-style-type: none;
    }

    a {
      background-color: #f9f9f7;
      color: #646462;
      padding: 5px 10px;
      display: block;
      width: 100%;
    }

    a:hover {
      background-color: #e9e9e7;
      color: #000;
      text-decoration: none;
    }
  }
}

footer {
  margin-top: 30px;
  padding: 40px 0px;
  border-top: 1px solid #f2f2f0;
}


/* mobile size */
.container {
  width: 90%;
  margin: 0px auto;
}

/* tablet size */
@media only screen and (min-width: 600px) {

}

/* desktop size */
@media only screen and (min-width: 960px) {

}

/* clearfix */
.container:after,
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.container,
.clearfix {
  *zoom: 1;
}